@tailwind base;

* {
  scrollbar-width: thin;
  scrollbar-color: #0d9488 white;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: white;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #0d9488;
  border-radius: 14px;
  border: 1px solid white;
}

@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Roboto Condensed", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
}

:root {
  font-family: "Roboto Condensed", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #00;
  background: rgb(201, 199, 199);
  background: linear-gradient(
    351deg,
    rgba(201, 199, 199, 1) 0%,
    rgba(227, 222, 222, 1) 26%,
    rgba(226, 224, 224, 1) 44%,
    rgba(236, 234, 233, 1) 64%,
    rgba(237, 236, 231, 1) 100%
  );

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: "burtons";
  src: url("/Burtons.otf");
}
@font-face {
  font-family: "ananda";
  src: url("/AnandaBlack.ttf");
}
